@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
* {
  background-color: OldLace;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  color:MediumAquamarine;
}
.picture {
  width:300px;
  transition: all 0.3s ease;
  
}

.picture:hover{
  transform:scale(1.5);

}

p {
 padding: 10px 20px;
 display: inline-block;
 background-color: gainsboro;
 text-align: center;
 width: 250px;
 margin: 10px 30px;
 display: block;
 border-radius: 3px;
 
}

div {
  margin: 5px;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
 }

